:root{
    --main-color:#589F43 ;
    --secondary-color:#072340; 
    --white:#fff;
    --black:#2c3e50;
    --light-color:#888;
    --light-bg:#eee;
    --border:1rem solid rgba(0,0,0,.2);
    --red:#d35000;
    --whitegrey: #f0f0f0;
    --ddd : #ddd;
  }
  
  
  
  *{
  
      font-family: "Cairo", serif;   
      margin: 0; 
      padding: 0;
      box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
  
  }
  
  *::selection{
      background-color: var(--main-color);
      color: var(--white);
  }
  
  *::-webkit-scrollbar{
      height: .5rem;
      width: 1rem;
  } 
  
   *::-webkit-scrollbar-track{
      background-color: transparent;
  } 
  
  *::-webkit-scrollbar-thumb{
      background-color: var(--main-color);
  } 
  
  html{
      font-size: 62.5%;
      overflow-x:hidden;
      scroll-behavior: smooth;
      scroll-padding-top: .8rem;
      height: 100%;
  }
  
  
   body {
  
    background-color: var(--white);
      height: auto;
      margin: 0;
      padding-top: 6.5rem;
      overflow-x: hidden;
      overflow: auto; /* لتمكين التمرير عند الحاجة */
     
  }
/* header start */

.header-page .logo-spark{
   display: flex;
   flex-direction: row-reverse;

  }

.header-page .logo-spark a{
    font-size: 1.2rem;
    color: var(--secondary-color);
     cursor: pointer;
    line-height: 3.5rem;
    text-align: center;
    margin-left: 9px;
    margin-right: 2rem;
    transition: 0.3s ease-in-out;

  }

.header-row{
    display: flex;
    flex-direction: row-reverse;
}

header.header-page img {
    width: 9.5rem;
    margin-left: 2rem;
  }

  .header-page nav{
      display: flex;
      flex-direction: row-reverse;
  }

  .header-page nav a {
    font-size: 1.7rem;
    color: var(--secondary-color);
    cursor: pointer;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    margin-left: 9px;
    margin-right: 2rem;
    transition: 0.3s ease-in-out;
  }

  .header-page nav a:hover {
    transform: scale(1.1);
    color: var(--main-color); /* أخضر مثل الشعار */
  }

/* header end */

/* index page start */

.about-section .about-row{
    display: flex;
    flex-direction: row-reverse;
}

.about-section {
    background: url('../images/back.png') center/cover no-repeat;
    /* padding: 3rem 0; */
    position: relative;
  }
  
  .about-section .about-text h3 {
    font-size: 2.5rem;
    color: var(--black);
    background-color:  rgba(255, 255, 255, 0.95);
    width: 27%;
    padding: 1rem 1rem; /* اختصار لتحديد padding عمودي وأفقي */
    margin-right: auto;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-weight: bold;
  }

   .about-section .about-text {
    padding-bottom: 3rem;
    flex: 0 0 50rem;
    text-align: left;
   
  }
  .about-section .about-text .log-index {
    text-align: left;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--white);
    display: inline-block;
    animation: moveSide 1s infinite alternate;
    position: relative;
    text-decoration: none;
   }

    @keyframes moveSide {
    0%   { transform: translateX(0); }
    100% { transform: translateX(10px); }
    }

  .about-section .about-text .log-index:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    transition: .5s linear;
  }

  .about-section .about-text p{
    line-height: 2;
    width: 80%;
    font-size: 1.5rem;
    color: var(--white);
    /* background-color: rgba(255, 255, 255, 0.95); */
    padding: 0.5rem 1rem;
    direction: ltr;
    text-align: justify;
    margin-top: 1.3rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    margin-right: auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  }

  
 .box-container {
    display: flex;
    justify-content: center; /* توسيط أفقي */
    align-items: center; 
  
    position: relative;
     top: -4rem;
      display: flex;
      flex-wrap: wrap;  /* يسمح بتعدد الصفوف عند ضيق العرض */
  }
  
  .box-container .box {
     width: 27rem;
      display: flex;
      justify-content: flex-end; /* كل العناصر لأقصى اليمين */
      align-items: center;
      gap: 0.5rem; /* مسافة صغيرة بين النص والصورة */
      background-color: var(--white);
      border-radius: 0.5rem;
      padding: 1.8rem;
      box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.1); 
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      margin-right: 1rem;
      margin-left: 1rem;
      flex-direction: row-reverse;
  }
  
  .box-container .box:hover {
      transform: translateY(-5px);
      box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15);
      transition: 0.5s;
  }
  
   .box-container .box div {
      text-align: left; /* النص داخل الـ div */
      margin-right: 1rem;
  }
  
  .box-container .box h3 {
      color: var(--main-color);
      font-size: 2rem;
      margin: 0 0 0.3rem; /* تعديل هامش بسيط */
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
     font-weight: bold;
  }
  
  .box-container .box p {
      font-size: 1.4rem;
      color: var(--light-color);
      margin: 0;
  }
  
  .box-container .box img {
      width: 5.5rem;
      height: auto;
      margin-left: 0; /* إزالة المسافة الإضافية */
  }

  .paragraph-box{
    direction: ltr;
  }

  .paragraph-box ul {
    padding-left: 1.5rem;
    color: var(--secondary-color);
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .paragraph-box div img{
    width: 35px;
    height: 35px;
  }

  .paragraph-box div h3{
    margin: 0;
    font-size: 2rem;
    color: var(--main-color);
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }

  
.footer-index{
    background-image: url(../images/footer-back.png);
    background-size: cover;
    background-position: center;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 3rem;
    flex-direction: row-reverse;
     
  }
  
  .footer-index h1{
    color: var(--white);
    font-size: 1.5rem;
  }
  
  .footer-index img{
    width: 70px;
    height: auto;
    position: relative;
    bottom: 20px;
  }
  
  .footer-index span{
    color: var(--main-color);
  }


  /* index page end */

  
  /* login page for student & parent start */
  
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/back.png') no-repeat center center;
    background-size: cover;
    height: 100%;

}
.login .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    flex-direction: row-reverse;
 
}

.login .login-container .left-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}



.login .login-container .left-section .image-container .student-img {
    width:35rem;
    max-width: 100%;
    height: auto;
    position: relative;
    margin-right: 11rem;
    transform: scaleX(-1);
}


.login .login-container .right-section{
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 1.875rem;
    height: 40rem;
    margin-bottom: 10rem;
    width: 50%;
    margin-left: 6rem;
}

.login .login-container .right-section .login-box {
    text-align: center;
    width: 100%;
}



.login .login-container .right-section .login-box h2{
    color: var(--main-color);
    font-size: 2.1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    padding-bottom: 1.5rem;

}


.login .login-container .right-section .login-box .input-box-custom {
    padding: 1.4rem;
    margin: 0.625rem 0;
    margin-top:1.5rem ;
    width: 80%;
    border: 0.06rem solid #ccc;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    text-align: left;
    font-size: 1.2rem;
}


.login .login-container .right-section .login-box .input-box-custom2 {
    padding: 1.4rem;
    margin-top:0.125rem;
    margin-bottom: 1rem;
    width: 80%;
    border: 0.06rem solid #ccc;
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    text-align: left;
    font-size: 1.2rem;
}


.login .login-container .right-section .login-box .login-btn-custom {
    background-color: var(--main-color);
    color: var(--white);
    padding: 1.4rem;
    border: none;
    border-bottom-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    cursor: pointer;
    width: 80%;
    margin-top:1rem;
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;

}

.login .login-container .right-section .login-box .login-btn-custom:hover{
    background-color: var(--secondary-color);
    transition: .5s linear;
}


.login .login-container .right-section .login-box .icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    display: flex;
    flex-direction: row-reverse;
}
.login .login-container .right-section .login-box .icons img {
    width: 5rem;
    margin-top: 2rem;
}

/******teacher & admin login page starts**/

.login-teacher{
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/back.png') no-repeat center center;
    background-size: cover;
    height: auto;
}

.login-teacher .form-container-teacher{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* يضع المحتوى في المنتصف أفقيًا */
    align-items: center;
    background-color:var(--white);
    width: 48rem;
    height: 40rem;
    border-radius: 2.5rem;
    padding: 3rem;

}

.login-teacher .form-container-teacher .custom-form h3{
    color: var(--main-color);
    font-size: 2.1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    padding-bottom: 1.5rem;
    text-align: center;

}

.login-teacher .form-container-teacher .custom-form .input-box-teacher {
    padding: 1.4rem;
    margin: 0.625rem 0;
    margin-top:1.5rem ;
    width: 100%;
    border: 0.06rem solid #ccc;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    text-align: left;
    font-size: 1.2rem;
}

.login-teacher .form-container-teacher .custom-form .input-box-teacher2 {
    padding: 1.4rem;
    margin: 0.625rem 0;
    width: 100%;
    border: 0.06rem solid #ccc;
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    text-align: left;
    font-size: 1.2rem;
}

.login-teacher .form-container-teacher .custom-form .login-btn-teacher{

    background-color: var(--main-color);
    color: var(--white);
    padding: 1.4rem;
    border: none;
    border-bottom-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    cursor: pointer;
    width: 100%;
    margin-top:1rem;
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.login-teacher .form-container-teacher .custom-form .login-btn-teacher:hover{
  background-color: var(--secondary-color);
  transition: .5s linear;
}


.login-teacher .form-container-teacher .icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    flex-direction: row-reverse;
}


.login-teacher .form-container-teacher .icons img{
    width: 5rem;
    margin-top: 2rem;
}


.fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/******teacher & admin login page ends**/
/* footer start */

.footer{
    position: fixed;
    bottom: 0; right: 0; left: 0;
    background-color: var(--white);
    padding: 2rem;
    text-align: center;
    color: var(--black);
    font-size: 1.8rem;
    margin-top: .5rem;
    z-index: 1000;
    max-height: 7rem;

}

.footer span{
    color: var(--main-color);
    font-weight: bold;
}

/* footer end */




/* sidebar start */


.sidebar ul li a.active,
.sidebar ul li a:hover{
    background-color: rgba(88, 159, 67, 0.2); /* خلفية خضراء فاتحة مثلاً */
    border-radius: 10px;
    
   }

  .sidebar {
    position: fixed;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    top: 0;
    width: 250px;
    z-index: 1;
    background-color: #fff;
    left: 0;
    direction: rtl;
  }

  .sidebar ul {
    margin-top: 9rem;
  }

  .sidebar ul li a {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--secondary-color);
    font-size: 1.6rem;
    text-decoration: none;
    margin-left: .5rem;
    padding: 10px;
  }

  .sidebar ul li a span {
    margin-left: 1.2rem;
  }

  .sidebar.hidden {
    transform: translateX(-100%);
  }

  #mainContent.with-sidebar {
    margin-inline-start: 260px;
  }

  #mainContent.no-sidebar {
    margin-inline-start: 0;
  }

  .logo-spark #sidebarToggle {
    font-size: 1.3rem;
  }


  /* sidebar end */


  
  /* manager dashoard start */



  .dashboard-manager .card{
    box-shadow: 1px 2px 5px rgba(0, 0, 0 ,0.15);
    margin-top: 3rem;
    height: 11rem;
   
}

.dashboard-manager{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    
}

.dashboard-manager .card .card-content{
    display: flex;
    flex-direction: row-reverse;
}


.dashboard-manager .card .user-number h6{
    font-size: 1.2rem;
    color: var(--light-color);
    padding: .5rem;
    text-align: right;
}

.dashboard-manager .card .user-number h4{
    font-size: 1.8rem;
    padding-right: .5rem;
    text-align: right;
}

.dashboard-manager .card .card-content i{
    color: var(--main-color);
    margin-left: .5rem;
    font-size: 2.7rem;
}

.dashboard-manager .card a {
    color: var(--main-color);
}


.custom-user-table {
    direction: ltr;
  }

.table-users{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0 ,0.15);
    padding: 2rem;
    margin-bottom: 7rem;
}

.table-users ul.nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.table-users ul.nav li button{
    font-size: 1.4rem;
    color: var(--main-color);
    font-weight: bold;
}

.table-users ul.nav li button.active{
    color: var(--secondary-color);
}


.table-users.table-content table{
    border: none;

}


.table-users .table-content table tbody {
    font-size: 1.3rem;
}

.custom-user-table th{
    padding: 1.4rem;
    background-color: rgba(88, 159, 67, 0.2);
    font-size: 1.5rem;

}

.custom-user-table td{
    padding: 1.4rem;

}


  /* manager dashboard end */

  
/* message start */



.message-footer a{
    font-size: 1.6rem;
    color: var(--main-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.messages-panel{
    width: 35% !important;
    margin-left: auto;
    margin-right: 3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 65vh !important;
    
}

.open-msg-btn {
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1055;
    bottom: 7rem;
    right: 35px;
    background: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .1);
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1000;
    font-size: 1.5rem;
    font-weight: bold;
 

  }

  .open-msg-btn:hover{
      background-color: var(--secondary-color);
      transition: .6s linear;
  }

  .msg-info strong {
    display: block;
    font-size: 15px;
    color: var(--secondary-color);
    text-align: left;
  }


  .msg-info{
      margin-left: .5rem;
      flex: 1;
  }

  .msg-info p {
    font-size: 13px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: left;
    color: var(--light-color);
  }

 .offcanvas-header{
    background-color: var(--main-color);
    padding: 2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.message-title h5{
    color: var(--white);
    font-weight: bold;
    font-size: 1.4rem;
    
}

.offcanvas-header .btn-close{
    margin: 0;
    padding: 0;
}


  /* الجسم */
  .messages-body {
    overflow-y: auto;
    flex: 1;
    padding: 10px;

  }
  
  /* الرسالة */
  .message-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--light-bg);
    cursor: pointer;
    
  }
  
  .message-item:hover {
    background-color: var(--light-bg);
  }
  
  .message-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
 
  .message-item span{
      font-size: 1.2rem;
  }
  

  
/* message end */



  

  @media (max-width: 1200px){
     
    .box-container .box{
        margin-top: 2rem;
    }

    .about-section .about-text h3 {
        margin-top: 4rem;
        width: 35%;
    
      }
  }


  @media (max-width: 992px){

    .about-section .about-text p{
        width: 90%;
    }

    .about-section .about-text h3 {
        margin-top: 4rem;
        width: 35%;
        font-size: 1.9rem;
      }
  }

  
  
  /* Media Queries */
@media (max-width: 768px) {
    .about-section .about-text h3 {
      width: 35%;
      font-size: 1.8rem;
    }
    .about-section .about-text p {
      font-size: 1.3rem;
    }
    .about-section .log-index {
      font-size: 1.4rem;
    }

    .box-container .box img {
       
        margin-left: auto; /* إزالة المسافة الإضافية */
        margin-right: auto;
    }

    .about-section .about-row{
        flex-direction: column-reverse;
    }


    .login .login-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10rem;
      }

      .login .login-container .left-section .image-container .student-img {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
    
      .login .login-container .right-section {
        width: 90%;
        border-radius: 1rem;
        margin: 0 auto;
      }
      .login-teacher {
        padding-right: 0;
        padding-left: 0;
        padding-top: 5rem;
    }

    .login-teacher .form-container-teacher{
        width: 90%;
    }


    
    .sidebar ul {
        margin-top: 1rem;
      }

    .sidebar {
      transform: translateX(-100%);
      position: fixed;
      top: 72px;
      left: 0;
      height: calc(100vh - 72px);
      background-color: #fff;
      z-index: 1;
    }

    .sidebar.active {
      transform: translateX(0);
    }

    #mainContent.with-sidebar {
      margin-inline-start: 0;
    }

    #overlay {
      display: none;
      position: fixed;
      top: 72px;
      left: 0;
      width: 100%;
      height: calc(100vh - 72px);
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }

    #overlay.active {
      display: block;
    }

    .messages-panel {
        width: 100% !important;
        margin-right: 0 !important;
        height: 80vh !important;
      }
    
      .open-msg-btn {
        bottom: 7rem;
        right: 15px;
        padding: 8px 20px;
        font-size: 1.2rem;

      }
    
      .msg-info strong {
        font-size: 14px;
      }
    
      .msg-info p {
        font-size: 12px;
      }
    
      .message-item span {
        font-size: 1rem;
      }


  }

  
  @media (min-width: 769px) and (max-width: 991px) {
    .messages-panel {
      width: 60% !important;
      height: 70vh !important;
    }
  }
  


  @media (max-width: 576px){
    .footer-index h1{
        font-size: 1.2rem;
      }
      
      .footer-index img{
        width: 35px;
        height: auto;
      }

  }



  @media (max-width: 480px) {
    .about-section .about-text h3 {
      font-size: 1.3rem;
    }
    .about-section .about-text p {
      font-size: 1.1rem;
    }
    .about-section .log-index {
      font-size: 1.2rem;
    }

    


  }