:root{
    --main-color:#589F43 ;
    --secondary-color:#072340; 
    --white:#fff;
    --black:#2c3e50;
    --light-color:#888;
    --light-bg:#eee;
    --border:1rem solid rgba(0,0,0,.2);
    --red:#d35000;
    --whitegrey: #f0f0f0;
    --ddd : #ddd;
  }
  
  
  
  *{
  
      font-family: "Cairo", serif;   
      margin: 0; 
      padding: 0;
      box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
  
  }
  
  *::selection{
      background-color: var(--main-color);
      color: var(--white);
  }
  
  *::-webkit-scrollbar{
      height: .5rem;
      width: 1rem;
  } 
  
   *::-webkit-scrollbar-track{
      background-color: transparent;
  } 
  
  *::-webkit-scrollbar-thumb{
      background-color: var(--main-color);
  } 
  
  html{
      font-size: 62.5%;
      overflow-x:hidden;
      scroll-behavior: smooth;
      scroll-padding-top: .8rem;
      height: 100%;
  }
  
  
   body {
  
    background-color: var(--white);
      height: 100%;
      margin: 0;
      padding-top: 6.5rem;
      overflow-x: hidden;
      overflow: auto; /* لتمكين التمرير عند الحاجة */
     
  }


header.header-page img {
    width: 9.5rem;
    margin-right: 2rem;
  }

  .header-page nav a {
    font-size: 1.7rem;
    color: var(--secondary-color);
     cursor: pointer;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    margin-right: 9px;
    margin-left: 2rem;
    transition: 0.3s ease-in-out;
  }

  .header-page nav a:hover {
    transform: scale(1.1);
    color: var(--main-color); /* أخضر مثل الشعار */
  }

  .about-section .about-text h3 {
    font-size: 2.5rem;
    color: var(--black);
    background-color:  rgba(255, 255, 255, 0.95);
    width: 27%;
    padding: 1rem 1rem; /* اختصار لتحديد padding عمودي وأفقي */
    margin-left: auto;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    font-weight: bold;
  }
  .about-section {
    background: url('../images/back.png') center/cover no-repeat;
    /* padding: 3rem 0; */
    position: relative;
  }
   .about-section .about-text {
    padding-bottom: 3rem;
    flex: 0 0 50rem;
    text-align: right;
   
  }
  .about-section .about-text .log-index {
    text-align: right;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--white);
    display: inline-block;
    animation: moveSide 1s infinite alternate;
    position: relative;
    text-decoration: none;
   }

    @keyframes moveSide {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-10px); }
    }

  .about-section .about-text .log-index:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    transition: .5s linear;
  }

  .about-section .about-text p{
    line-height: 2;
    width: 80%;
    font-size: 1.5rem;
    color: var(--white);
    /* background-color: rgba(255, 255, 255, 0.95); */
    padding: 0.5rem 1rem;
    direction: rtl;
    text-align: justify;
    margin-top: 1.3rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    margin-left: auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  }

  
 .box-container {
    display: flex;
    justify-content: center; /* توسيط أفقي */
    align-items: center; 
  
    position: relative;
     top: -4rem;
      display: flex;
      flex-wrap: wrap;  /* يسمح بتعدد الصفوف عند ضيق العرض */
  }
  
  .box-container .box {
     width: 27rem;
      display: flex;
      justify-content: flex-end; /* كل العناصر لأقصى اليمين */
      align-items: center;
      gap: 0.5rem; /* مسافة صغيرة بين النص والصورة */
      background-color: var(--white);
      border-radius: 0.5rem;
      padding: 1.8rem;
      box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.1); 
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      margin-right: 1rem;
      margin-left: 1rem;
  }
  
  .box-container .box:hover {
      transform: translateY(-5px);
      box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15);
      transition: 0.5s;
  }
  
   .box-container .box div {
      text-align: right; /* النص داخل الـ div */
      margin-right: 1rem;
  }
  
  .box-container .box h3 {
      color: var(--main-color);
      font-size: 2rem;
      margin: 0 0 0.3rem; /* تعديل هامش بسيط */
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
     font-weight: bold;
  }
  
  .box-container .box p {
      font-size: 1.4rem;
      color: var(--light-color);
      margin: 0;
  }
  
  .box-container .box img {
      width: 5.5rem;
      height: auto;
      margin-left: 0; /* إزالة المسافة الإضافية */
  }

  .paragraph-box{
    direction: rtl;
  }

  .paragraph-box ul {
    padding-right: 1.5rem;
    color: var(--secondary-color);
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .paragraph-box div img{
    width: 35px;
    height: 35px;
  }

  .paragraph-box div h3{
    margin: 0;
    font-size: 2rem;
    color: var(--main-color);
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }

  
.footer-index{
    background-image: url(../images/footer-back.png);
    background-size: cover;
    background-position: center;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 3rem;
     
  }
  
  .footer-index h1{
    color: var(--white);
    font-size: 1.5rem;
  }
  
  .footer-index img{
    width: 70px;
    height: auto;
    position: relative;
    bottom: 20px;
  }
  
  .footer-index span{
    color: var(--main-color);
  }
  

  @media (max-width: 1200px){
     
    .box-container .box{
        margin-top: 2rem;
    }

    .about-section .about-text h3 {
        margin-top: 4rem;
        width: 35%;
    
      }
  }


  @media (max-width: 992px){

    .about-section .about-text p{
        width: 90%;
    }

    .about-section .about-text h3 {
        margin-top: 4rem;
        width: 35%;
        font-size: 1.9rem;
      }
  }

  
  
  /* Media Queries */
@media (max-width: 768px) {
    .about-section .about-text h3 {
      width: 35%;
      font-size: 1.8rem;
    }
    .about-section .about-text p {
      font-size: 1.3rem;
    }
    .about-section .log-index {
      font-size: 1.4rem;
    }

    .box-container .box img {
       
        margin-left: auto; /* إزالة المسافة الإضافية */
        margin-left: auto;
    }


  }


  @media (max-width: 576px){
    .footer-index h1{
        font-size: 1.2rem;
      }
      
      .footer-index img{
        width: 35px;
        height: auto;
      }

  }



  @media (max-width: 480px) {
    .about-section .about-text h3 {
      font-size: 1.5rem;
    }
    .about-section .about-text p {
      font-size: 1.1rem;
    }
    .about-section .log-index {
      font-size: 1.2rem;
    }

    


  }