:root{
    --main-color:#589F43 ;
    --secondary-color:#072340; 
    --white:#fff;
    --black:#2c3e50;
    --light-color:#888;
    --light-bg:#eee;
    --border:1rem solid rgba(0,0,0,.2);
    --red:#d35000;
    --whitegrey: #f0f0f0;
    --ddd : #ddd;
  }
  
  
  
  *{
  
      font-family: "Cairo", serif;   
      margin: 0; 
      padding: 0;
      box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
  
  }
  
  *::selection{
      background-color: var(--main-color);
      color: var(--white);
  }
  
  *::-webkit-scrollbar{
      height: .5rem;
      width: 1rem;
  } 
  
   *::-webkit-scrollbar-track{
      background-color: transparent;
  } 
  
  *::-webkit-scrollbar-thumb{
      background-color: var(--main-color);
  } 
  
  html{
      font-size: 62.5%;
      overflow-x:hidden;
      scroll-behavior: smooth;
      scroll-padding-top: .8rem;
      height: 100%;
  }
  
  
   body {
  
    background-color: var(--white);
      height: auto;
      margin: 0;
      padding-top: 6.5rem;
      overflow-x: hidden;
      overflow: auto; /* لتمكين التمرير عند الحاجة */
     
  }
/* header start */

.notification-title{
  font-size: 1.8rem;
  color: var(--main-color);
  font-weight: bold;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.dropdown-menu.notification-dropdown{
  width: 35rem;
  height: auto;  
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border:none;
  border-bottom: 2px solid var(--main-color);
  text-decoration: none;


}

.dropdown-menu.notification-dropdown .notification-content{
  display: flex;
  flex-direction: row-reverse;
  border-top: 1px solid #ccc;
  justify-content: space-between;
  padding: 1rem;

}

.dropdown-menu.notification-dropdown .notification-content:hover{
  background-color: var(--light-bg);
}


.dropdown-menu.notification-dropdown .notification-content .notification-info strong{
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.dropdown-menu.notification-dropdown .notification-content .notification-info p{
  font-size: 1.3rem;
  color: var(--light-color);
  padding-top: .8rem;
}

.dropdown-menu.notification-dropdown .notification-content span{
  color: var(--light-color);
}





.dropdown-menu.account-dropdown {
  min-width: 250px; 
  height: auto;  
  padding: 2rem;
  font-size: 1.1rem;         /* تكبير حجم الخط */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border:none;
  border-bottom: 2px solid var(--main-color);

}

/* ✅ تخصيص العناصر داخل القائمة */
.account-dropdown .dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--main-color); /* لون أخضر مخصص */
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--white);
  width: 70%;
  justify-content: center;
  margin: 0;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, .2); */
  margin-right: auto;
  margin-left: auto;
  padding: .7rem;
}


.account-dropdown .dropdown-item i {
  color: var(--white); /* لون الأيقونات أخضر */
  font-size: 1.2rem;
}



.account-dropdown .user-img{
  margin-left: auto;
  margin-right: auto;
}

.account-dropdown li .user-name{
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  margin-left: auto;
  margin-right: auto;
  margin-top: .7rem;
}

.account-dropdown li .user-type{
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  margin-left: auto;
  margin-right: auto;
}


header.header-page img {
    width: 9.5rem;
    margin-right: 2rem;
  }

  .header-page nav{
    direction: rtl;
  }

  .header-page div.header-row{
    direction: rtl;
  }


  .header-page nav .icon-header {
    font-size: 1.7rem;
    color: var(--secondary-color);
     cursor: pointer;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    margin-right: 9px;
    margin-left: 2rem;
    transition: 0.3s ease-in-out;
  }


  .header-page .logo-spark {
    direction: rtl;
  }
  .header-page .logo-spark a{
    font-size: 1.2rem;
    color: var(--secondary-color);
     cursor: pointer;
    line-height: 3.5rem;
    text-align: center;
    margin-right: 9px;
    margin-left: 2rem;
    transition: 0.3s ease-in-out;

  }

  .header-page nav .icon-header:hover {
    transform: scale(1.1);
    color: var(--main-color); /* أخضر مثل الشعار */
  }

/* header end */

/* index page start */

  .about-section .about-text h3 {
    font-size: 2.5rem;
    color: var(--black);
    background-color:  rgba(255, 255, 255, 0.95);
    width: 27%;
    padding: 1rem 1rem; /* اختصار لتحديد padding عمودي وأفقي */
    margin-left: auto;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    font-weight: bold;
  }
  .about-section {
    background: url('../images/back.png') center/cover no-repeat;
    /* padding: 3rem 0; */
    position: relative;
  }
   .about-section .about-text {
    padding-bottom: 3rem;
    flex: 0 0 50rem;
    text-align: right;
   
  }
  .about-section .about-text .log-index {
    text-align: right;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--white);
    display: inline-block;
    animation: moveSide 1s infinite alternate;
    position: relative;
    text-decoration: none;
   }

    @keyframes moveSide {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-10px); }
    }

  .about-section .about-text .log-index:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    transition: .5s linear;
  }

  .about-section .about-text p{
    line-height: 2;
    width: 80%;
    font-size: 1.5rem;
    color: var(--white);
    /* background-color: rgba(255, 255, 255, 0.95); */
    padding: 0.5rem 1rem;
    direction: rtl;
    text-align: justify;
    margin-top: 1.3rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    margin-left: auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  }

  
 .box-container {
    display: flex;
    justify-content: center; /* توسيط أفقي */
    align-items: center; 
  
    position: relative;
     top: -4rem;
      display: flex;
      flex-wrap: wrap;  /* يسمح بتعدد الصفوف عند ضيق العرض */
  }
  
  .box-container .box {
     width: 27rem;
      display: flex;
      justify-content: flex-end; /* كل العناصر لأقصى اليمين */
      align-items: center;
      gap: 0.5rem; /* مسافة صغيرة بين النص والصورة */
      background-color: var(--white);
      border-radius: 0.5rem;
      padding: 1.8rem;
      box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.1); 
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      margin-right: 1rem;
      margin-left: 1rem;
  }
  
  .box-container .box:hover {
      transform: translateY(-5px);
      box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15);
      transition: 0.5s;
  }
  
   .box-container .box div {
      text-align: right; /* النص داخل الـ div */
      margin-right: 1rem;
  }
  
  .box-container .box h3 {
      color: var(--main-color);
      font-size: 2rem;
      margin: 0 0 0.3rem; /* تعديل هامش بسيط */
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
     font-weight: bold;
  }
  
  .box-container .box p {
      font-size: 1.4rem;
      color: var(--light-color);
      margin: 0;
  }
  
  .box-container .box img {
      width: 5.5rem;
      height: auto;
      margin-left: 0; /* إزالة المسافة الإضافية */
  }

  .paragraph-box{
    direction: rtl;
  }

  .paragraph-box ul {
    padding-right: 1.5rem;
    color: var(--secondary-color);
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .paragraph-box div img{
    width: 35px;
    height: 35px;
  }

  .paragraph-box div h3{
    margin: 0;
    font-size: 2rem;
    color: var(--main-color);
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }

  
.footer-index{
    background-image: url(../images/footer-back.png);
    background-size: cover;
    background-position: center;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 3rem;

  }
  
  .footer-index h1{
    color: var(--white);
    font-size: 1.5rem;
  }
  
  .footer-index img{
    width: 70px;
    height: auto;
    position: relative;
    bottom: 20px;
  }
  
  .footer-index span{
    color: var(--main-color);
  }


  /* index page end */

  /* login page for student & parent start */
  
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/back.png') no-repeat center center;
    background-size: cover;
    height: 100%;

}
.login .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
 
}

.login .login-container .left-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}



.login .login-container .left-section .image-container .student-img {
    width:36rem;
    max-width: 100%;
    height: auto;
    position: relative;
    margin-left: 11rem;
    margin-top: 5rem;

}


.login .login-container .right-section{
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 1.875rem;
    height: 40rem;
    margin-bottom: 10rem;
    width: 50%;
    margin-right: 6rem;
}

.login .login-container .right-section .login-box {
    text-align: center;
    width: 100%;
}



.login .login-container .right-section .login-box h2{
    color: var(--main-color);
    font-size: 2.1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    padding-bottom: 1.5rem;

}


.login .login-container .right-section .login-box .input-box-custom {
    padding: 1.4rem;
    margin: 0.625rem 0;
    margin-top:1.5rem ;
    width: 80%;
    border: 0.06rem solid #ccc;
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    text-align: right;
    font-size: 1.2rem;
}


.login .login-container .right-section .login-box .input-box-custom2 {
    padding: 1.4rem;
    margin-top:0.125rem;
    margin-bottom: 1rem;
    width: 80%;
    border: 0.06rem solid #ccc;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    text-align: right;
    font-size: 1.2rem;
}



.login .login-container .right-section .login-box .login-btn-custom {
    background-color: var(--main-color);
    color: var(--white);
    padding: 1.4rem;
    border: none;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    cursor: pointer;
    width: 80%;
    margin-top:1rem;
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;

}

.login .login-container .right-section .login-box .login-btn-custom:hover{
    background-color: var(--secondary-color);
    transition: .5s linear;
}


.login .login-container .right-section .login-box .icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}
.login .login-container .right-section .login-box .icons img {
    width: 5rem;
    margin-top: 2rem;
}


/* login page for student & parent end */



/******teacher & admin login page starts**/

.login-teacher{
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/back.png') no-repeat center center;
    background-size: cover;
    height: auto;
}

.login-teacher .form-container-teacher{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* يضع المحتوى في المنتصف أفقيًا */
    align-items: center;
    background-color:var(--white);
    width: 60rem;
    height: 40rem;
    border-radius: 2.5rem;
    padding: 3rem;

}

.login-teacher .form-container-teacher .custom-form h3{
    color: var(--main-color);
    font-size: 2.1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    padding-bottom: 1.5rem;
    text-align: center;

}

.login-teacher .form-container-teacher .custom-form .input-box-teacher {
    padding: 1.4rem;
    margin: 0.625rem 0;
    margin-top:1.5rem ;
    width: 100%;
    border: 0.06rem solid #ccc;
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    text-align: right;
    font-size: 1.2rem;
}

.login-teacher .form-container-teacher .custom-form .input-box-teacher2 {
    padding: 1.4rem;
    margin: 0.625rem 0;
    width: 100%;
    border: 0.06rem solid #ccc;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    text-align: right;
    font-size: 1.2rem;
}

.login-teacher .form-container-teacher .custom-form .login-btn-teacher{

    background-color: var(--main-color);
    color: var(--white);
    padding: 1.4rem;
    border: none;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    cursor: pointer;
    width: 100%;
    margin-top:1rem;
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.login-teacher .form-container-teacher .custom-form .login-btn-teacher:hover{
  background-color: var(--secondary-color);
  transition: .5s linear;
}


.login-teacher .form-container-teacher .icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}


.login-teacher .form-container-teacher .icons img{
    width: 5rem;
    margin-top: 2rem;
}


.fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/******teacher & admin login page ends**/


/* footer start */



.footer{
    bottom: 0; right: 0; left: 0;
    padding: 2rem;
    text-align: center;
    color: var(--black);
    font-size: 1.5rem;
    margin-top: .5rem;
    z-index: 1000;
    max-height: 7rem;
}

.footer span{
    color: var(--main-color);
    font-weight: bold;
}

/* footer end */




/* sidebar start */


.sidebar ul li a.active,
.sidebar ul li a:hover{
    background-color: rgba(88, 159, 67, 0.2); /* خلفية خضراء فاتحة مثلاً */
    border-radius: 10px;
    
   }

  .sidebar {
    position: fixed;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    top: 0;
    width: 250px;
    z-index: 1;
    background-color: #fff;
  }

  .sidebar ul {
    margin-top: 9rem;
  }

  .sidebar ul li a {
    margin-bottom: .3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--secondary-color);
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: .5rem;
    padding: 10px;
  }

  .sidebar ul li a span {
    margin-right: 1.2rem;
  }

  .sidebar.hidden {
    transform: translateX(100%);
  }

  #mainContent.with-sidebar {
    margin-inline-end: 260px;
  }

  #mainContent.no-sidebar {
    margin-inline-end: 0;
  }

  .logo-spark #sidebarToggle {
    font-size: 1.3rem;
  }


  /* sidebar end */




  /* manager dashoard start */

  #mainContent{
    animation: fadeIn 1s ease-in-out;
  }
  
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  .dashboard-manager .card{
    box-shadow: 1px 2px 5px rgba(0, 0, 0 ,0.15);
    margin-top: 3rem;
    height: 11rem;
}

.dashboard-manager{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    direction: rtl;
}


.dashboard-manager .card .user-number h6{
    font-size: 1.2rem;
    color: var(--light-color);
    padding: .5rem;
}

.dashboard-manager .card .user-number h4{
    font-size: 1.8rem;
    padding-right: .5rem;
}

.dashboard-manager .card .card-content i{
    color: var(--main-color);
    margin-right: .5rem;
    font-size: 2.7rem;
}

.dashboard-manager .card a {
    color: var(--main-color);
}


.custom-user-table {
    direction: rtl;
  }

.table-users{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0 ,0.15);
    padding: 2rem;
    margin-bottom: 7rem;
}

.table-users ul.nav li button{
    font-size: 1.4rem;
    color: var(--main-color);
    font-weight: bold;
}

.table-users ul.nav li button.active{
    color: var(--secondary-color);
}


.table-users.table-content table{
    border: none;

}


.table-users .table-content table tbody {
    font-size: 1.3rem;
}

.custom-user-table th{
    padding: 1.4rem;
    background-color: rgba(88, 159, 67, 0.2);
    font-size: 1.5rem;

}

.custom-user-table td{
    padding: 1.4rem;

}

.table-users ul.nav{
    display: flex;
    justify-content: start;
    direction: rtl;
}


/* ------------------ */


#mainContent .nav-std{
  display: flex;
  justify-content: end;
  margin-top: 5rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

#mainContent .nav-std li{
 font-size: 1.5rem;
 margin-left: .2rem;
}

#mainContent .nav-std li button{
  color: var(--light-color);
  background-color:rgba(88, 159, 67, 0.1);
  border: none;
  padding: .8rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

 }

 #mainContent .nav-std li button.active{
  color: var(--white);
  background-color: var(--main-color);
 }

 .table-users .header-table{
   display: flex;
   justify-content: space-between;
 }

 .table-users .header-table input{
   text-align: right;
   border: 1px solid #ccc;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-right: .2rem;
   width: 20rem;
   margin-bottom: 1rem;
   font-size: 1.4rem;
 }

 .table-users .header-table a{
  background-color: var(--main-color);
  color: var(--white);
  padding: .8rem;
  font-size: 1.3rem;
  text-decoration: none;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  align-items: center;
  display: flex;

 }

 .table-users .header-table .btn-promotion{
   display: flex;
   flex-direction: row;
 }

 .table-users .header-table .btn-promotion .rollback-btn{
   margin-left: .5rem;
   background-color: var(--red);
 }


#mainContent .manager-header{
  text-align: right;
  color: var(--main-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
  font-size: 2.2rem;
  font-weight: bold;
  margin-top:4rem;
  margin-right: 4rem;
}


/* ----------------- */

.custom-form-card{
   width: 95%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    margin-bottom: 7rem;
    border: none;
}

.custom-form-card .card-body .subject-form div {
  direction: rtl;
}

.custom-form-card .card-body .subject-form div input[type="text"].custom-input{
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    text-align: right;
    font-size: 1.3rem;
    border: none;
    color: var(--light-color);

}

.custom-form-card .card-body .subject-form div select.custom-select{

    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--light-color);
}

.custom-form-card .card-body .subject-form .text-end button{
  font-weight: bold;
    font-size: 1.5rem;
    background-color: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: right;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    color: var(--white);
    text-align: center;
    width: 100%;
}

.custom-form-card .card-body .subject-form .text-end button:hover{
  color: var(--main-color);
  background-color: rgba(88, 159, 67, 0.2);
  transition: .5s linear;
}




 

  /* manager dashboard end */

  /*********this is actions icon in the tables starts***********/
.action-icon {
  margin: 0 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

.action-icon:hover {
  transform: scale(1.2);
}

.delete-icon-action {
  color: var(--red);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.relode-icon-action,.question-icon-action,
.std-icon-action,.eye-icon-action, .download-icon-action, .edit-icon-action , .rollback-btn-action{
  color: var(--main-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}



/*********the actions icon in the tables ends***********/




/* message start */

.message-footer a{
    font-size: 1.6rem;
    color: var(--main-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.messages-panel{
    width: 35% !important;
    margin-left: 3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 65vh !important;
    
}

.open-msg-btn {
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1055;
    bottom: 7rem;
    left: 35px;
    background: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .1);
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1000;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;

  }

  .open-msg-btn:hover{
    background-color: rgba(88, 159, 67, 0.2);
    color: var(--main-color);
    transition: .5s linear;
  }

  .msg-info strong {
    display: block;
    font-size: 15px;
    color: var(--secondary-color);
    text-align: right;
  }


  .msg-info{
      margin-right: .5rem;
      flex: 1;
  }

  .msg-info p {
    font-size: 13px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: right;
    color: var(--light-color);
  }

 .message-title{
    background-color: var(--main-color);
    padding: 2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.message-title h5{
    color: var(--white);
    font-weight: bold;
    font-size: 1.4rem;
}

.offcanvas-header .btn-close{
    margin: 0;
    padding: 0;
}


  /* الجسم */
  .messages-body {
    overflow-y: auto;
    flex: 1;
    padding: 10px;

  }
  
  /* الرسالة */
  .message-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--light-bg);
    cursor: pointer;
    flex-direction: row-reverse;
    
  }
  
  .message-item:hover {
    background-color: var(--light-bg);
  }
  
  .message-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
  }
 
  .message-item span{
      font-size: 1.2rem;
  }
  

  
/* message end */



/* ----------- teacher dashboard start-------------- */

.dashboard-teacher{
  width: 97%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;

}

.dashboard-teacher .card .card-welcome-content{
  height: 17rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: rgba(88, 159, 67, 0.2);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.dashboard-teacher .card .card-welcome-content img{
  width: 20rem;
  margin-left: 4rem;
}
.dashboard-teacher .card .card-welcome-content .user-welcome{
  margin-right: 3rem;
  text-align: right;
  position: relative;
}

.dashboard-teacher .card .card-welcome-content .user-welcome h4{
  font-size: 2rem;
  color: var(--main-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  font-weight: bold;
}

.dashboard-teacher .card .card-welcome-content .user-welcome h6{
  font-size: 1.2rem;
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  padding-top: .7rem;
}

.dashboard-teacher .card .card-welcome-content .user-welcome img{
  width: 50px;
  position: absolute;
  right: 0;
  margin-top: 2.2rem;
}

.dashboard-teacher .card .card-techaer-content{
  height: 16rem;
  border: 1px solid var(--light-bg);
  border-bottom: 3px solid rgba(88, 159, 67, 0.2);
  flex-direction: column;
  margin-top: 2rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);


}

.dashboard-teacher .card .card-techaer-content i {
  color: var(--main-color);
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.dashboard-teacher .card .card-techaer-content .user-number-teacher {
  text-align: center;
}

.dashboard-teacher .card .card-techaer-content .user-number-teacher h4{
  font-size: 2rem;
  margin-top: .8rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.dashboard-teacher .card .card-techaer-content .user-number-teacher h6{
  font-size: 1.3rem ;
  color: var(--light-color);
}

/* -------------------------------- */


#mainContent .teacher-title{
  text-align: right;
  color: var(--main-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
  font-size: 2.4rem;
  font-weight: bold;

}

.table-users-teacher ul.nav{
  border: none;
}

.table-users-teacher ul.nav li button.active{
  background-color: var(--main-color);
  color: var(--white);
}

.table-users-teacher ul.nav li button{
  background-color: rgba(88, 159, 67, 0.2);
  color: var(--main-color);
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: .4rem;
  border-radius: 0;
  border-top-right-radius:10px ;
  border-bottom-left-radius:10px ;

}


.table-users-teacher .header-table-teacher{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.table-users-teacher .header-table-teacher div a{
  background-color: var(--main-color);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0 ,0.05);
  border-top-right-radius:10px ;
  border-bottom-left-radius:10px ;
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

.table-users-teacher .header-table-teacher div a:hover{
  background-color: rgba(88, 159, 67, 0.2);
  color: var(--main-color);
  transition: .5s linear;
}

.table-users-teacher .header-table-teacher input{
  text-align: right;
  border: 1px solid rgba(88, 159, 67, 0.6);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .2rem;
  width: 20rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0 ,0.05);
  /* border-radius: 7px; */
  border-top-right-radius:10px ;
  border-bottom-left-radius:10px ;

}

.table-users-teacher{
  width:98%;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  margin-bottom: 7rem;
 
}




.table-users-teacher .table-content-teacher table tbody {
  font-size: 1.4rem;
}

.custom-user-table-teacher th{
  padding: 1.4rem;
  background-color: rgba(88, 159, 67, 0.9);
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  

}

.custom-user-table-teacher td{
  padding: 1.4rem;

}

.custom-user-table-teacher {
  direction: rtl;
  box-shadow: 1px 2px 5px rgba(0, 0, 0 ,0.15);
 

}

/* ----------- teacher dashboard end-------------- */




  @media (max-width: 1200px){
     
    .box-container .box{
        margin-top: 2rem;
    }

    .about-section .about-text h3 {
        margin-top: 4rem;
        width: 35%;
    
      }
  }


  @media (max-width: 992px){

    .about-section .about-text p{
        width: 90%;
    }

    .about-section .about-text h3 {
        margin-top: 4rem;
        width: 35%;
        font-size: 1.9rem;
      }

      
  }

  
  
  /* Media Queries */
@media (max-width: 768px) {
    .about-section .about-text h3 {
      width: 35%;
      font-size: 1.8rem;
    }
    .about-section .about-text p {
      font-size: 1.3rem;
    }
    .about-section .log-index {
      font-size: 1.4rem;
    }

    .box-container .box img {
       
        margin-left: auto; /* إزالة المسافة الإضافية */
        margin-left: auto;
    }


    .login .login-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10rem;
      }

      .login .login-container .left-section .image-container .student-img {
        max-width: 70%;
      }
    
      .login .login-container .right-section {
        width: 90%;
        border-radius: 1rem;
        margin: 0 auto;
      }

      .login-teacher {
        padding-right: 0;
        padding-left: 0;
        padding-top: 5rem;
    }

    .login-teacher .form-container-teacher{
        width: 90%;
    }


    .sidebar ul {
        margin-top: 1rem;
      }

    .sidebar {
      transform: translateX(100%);
      position: fixed;
      top: 72px;
      right: 0;
      height: calc(100vh - 72px);
      background-color: #fff;
      z-index: 1;
    }

    .sidebar.active {
      transform: translateX(0);
    }

    #mainContent.with-sidebar {
      margin-inline-end: 0;
    }

    #overlay {
      display: none;
      position: fixed;
      top: 72px;
      left: 0;
      width: 100%;
      height: calc(100vh - 72px);
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }

    #overlay.active {
      display: block;
    }

    .messages-panel {
        width: 100% !important;
        margin-left: 0 !important;
        height: 80vh !important;
      }
    
      .open-msg-btn {
        bottom: 7rem;
        left: 15px;
        padding: 8px 20px;
        font-size: 1.2rem;

      }
    
      .msg-info strong {
        font-size: 14px;
      }
    
      .msg-info p {
        font-size: 12px;
      }
    
      .message-item span {
        font-size: 1rem;
      }

  }


  @media (min-width: 769px) and (max-width: 991px) {
    .messages-panel {
      width: 60% !important;
      height: 70vh !important;
    }
  }
  

  @media (max-width: 576px){
    .footer-index h1{
        font-size: 1.2rem;
      }
      
      .footer-index img{
        width: 35px;
        height: auto;
      }

    

  }



  @media (max-width: 480px) {
    .about-section .about-text h3 {
      font-size: 1.3rem;
    }
    .about-section .about-text p {
      font-size: 1.1rem;
    }
    .about-section .log-index {
      font-size: 1.2rem;
    }


    .header-page nav .icon-header{
      font-size: 1.5rem;
      margin-right: 1px;
    margin-left: 1.5rem;
    }
    


  }